// section-banner
.section-banner {
    background: url("../images/banner-compressed.jpg") no-repeat center; //本地端圖片資源
    height: 840px;
    background-size: cover;
    @include mobile(){           
        height: 394px;        
    }    
}

.banner {
    display: flex;
    justify-content: flex-end;
    h2 {
        font-size: $font-size-4l;
        color: $primary-darken;
        text-align: right;
        padding-top: 348px;
        @include tablet(){
            padding-top: 372px;
            font-size: $font-size-3l;
        }
        @include mobile(){
            padding-top: 164px;
            font-size: $font-size-xl;
        }
        span {
            font-size: $font-size-2l;
            font-weight: 500;
            @include tablet(){                
                font-size: $font-size-m;
            }
            @include mobile(){                
                font-size: $font-size-s;
            }
        }
    }
}


// section title
.section-major, .section-classic-product, .section-co-branding, .section-recommend, .section-contact-us {
    padding-top: 60px;
    padding-bottom: 80px;
    @include tablet(){        
        padding-top: 40px;
        padding-bottom: 56px;                    
    }
    @include mobile(){        
        padding-top: 32px;
        padding-bottom: 40px;               
    }
}

.index-main {
    h3 {
        text-align: center;
        font-size: $font-size-3l;
        color: $primary-darken;        
        padding-bottom: 40px;
        @include tablet(){
            font-size: $font-size-xl;            
            padding-bottom: 40px;            
        }
        @include mobile(){
            font-size: $font-size-mm;            
            padding-bottom: 28px;            
        }
    }
}


// section-major
.section-major {
    background: $secondary;
}

.major-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;       
}

.major-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;    
    max-width: 23%;
    @include tablet(){
        max-width: 45%;
        margin-bottom: 32px;
        padding: 0 30px;                    
    }
    @include mobile(){
        max-width: 100%;
        padding: 0 45px;            
    }    
    h6 {
        color: $primary-darken;
        font-size: $font-size-mm;
        margin-bottom: 8px;
    }
    p {
        color: $dark;
        font-size: $font-size-s;
    }
}

.major {
    .material-icons-outlined {
        color: $primary-darken;
        font-size: 84px;
        margin-bottom: 24px;
    }
}


// section-classic-product
.classic-product-list {
    li:nth-child(2) {
        flex-direction: row-reverse;
        @include tablet(){
            flex-direction: row;     
        }
    }
}

.classic-product-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    @include tablet(){
        margin-bottom: 8px;                   
    }
    @include mobile(){
        position: relative;
        text-align: center;               
    }    
    h4 {
        font-size: $font-size-3l;
        font-style: italic;
        font-weight: 900;
        color: $decoration;
        width: 40%;
        margin-right: 30px;
        @include tablet(){
            font-size: $font-size-l;
            margin-right: 0px;                   
        }
        @include mobile(){
            position: absolute;
            width: 100%;                       
        }          
    }
    img {
        width: 60%;
        @include mobile(){
            width: 100%;            
        }
    }    
    .material-icons-outlined {
        font-size: 44px;
        color: $decoration;
        margin-left: 30px;
        margin-right: 10px;
        display: inline;
        vertical-align: middle;
        @include tablet(){
            font-size: 40px;
        }
              
    }
}

.section-classic-product {
    @include tablet(){                 
        padding-bottom: 32px;            
    }
    @include mobile(){
        font-size: $font-size-m;            
        padding-bottom: 20px;            
    }
}

// section-co-branding
.section-co-branding {
    background: url("../images/bg-compressed.jpg") no-repeat center;
    background-size: cover;
}

.co-branding {
    h3 {
        color: $light;
        @include tablet(){                 
            padding-bottom: 32px;            
        }
        @include mobile(){
            padding-bottom: 20px;
            font-size: 20px;
        }
    }
}

.co-branding-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.co-branding-item {
    max-width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;        
    @include mobile(){
        max-width: 100%;
        margin-bottom: 16px;                    
    }
    img {
        position: relative;
        opacity: 0.5;                
    }
    h4 {
        position: absolute;
        font-size: $font-size-5l;
        color: $primary;
        text-align: center;
        @include tablet(){
            font-size: $font-size-xl;                        
        }                   
    }     
}



// section-recommend
.recommend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include tablet(){
        justify-content: center;                                
    }
    .recommend-item {
        max-width: 23%;
        //建議不要寫死高度
        height: 460px;
        position: relative;
        border-radius: 4px;
        border: 1px solid #DEE2E6;
        overflow: hidden;
        box-shadow: 0px 2px 6px #00000029;        
        @include tablet(){
            max-width: 45%;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 32px;                              
        }
        @include mobile(){
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;                    
            margin-bottom: 16px;                                    
        }
        img {
            width: 100%;
        }    
    }    
}

// 處理與下方元素的間距
.recommend-list li {
    &:nth-child(3) {
        @include tablet(){
            margin-bottom: 0;
        }
        @include mobile(){                
            margin-bottom: 16px;                                    
        }
    }
    &:last-child {
        @include tablet(){
            margin-bottom: 0;
        }
        @include mobile(){                
            margin-bottom: 0;                                    
        }
    }
}

.recommend-content {
    margin: 16px;    
    @include tablet(){
        margin: 16px 24px;                        
    }        
    h6 {
        font-weight: 500;
        font-size: $font-size-xs;
        margin-bottom: 8px;
    }
    .customer-content {
        font-weight: 400;
        font-size: $font-size-s;
    }
    .date {
        font-weight: 400;
        font-size: $font-size-xs;
        color: $info;
        position: absolute;
        bottom: 16px;
    }
}

// flex stretch 寫法
// .r-list {
//     display: flex;
//     .flexItem {
//         width: 23%;
//         margin: 5px;
//         border: 1px solid #DEE2E6;
//         box-shadow: 0px 2px 6px #00000029;
//         display: flex;
//         flex-direction: column;
//         &__img {
//             max-width: 100%;
//             display: block;
//         }
//         &__body {
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             padding: 1rem;
//         }
//         &__text {
//             margin-bottom: 1rem;
//         }
//         &__title {
//             margin-bottom: .5rem;
//         }
//         &__date {
//             margin-top: auto;
//           }
//     }
// }

// section-contact-us
.section-contact-us {
    background: $secondary;
    
    // (提醒：不是直接調整 .section-contact-us .container 的 %，
    //  .container 本身是容器，會用 max-width 非 %，
    // 而容器內部的寬度用 % 設定，所以這邊會在對 form 調整寬度)
    // .container {
    //     width: 64%; 
    //     @include tablet(){
    //         width: 60%;                      
    //     }        
    //     @include mobile () {            
    //         width: 92%;
    //     }
    // }
}

.contact-us {    
    h3 {
        color: $dark;
        padding-bottom: 24px;        
        @include mobile(){                
            font-size: $font-size-m;
            padding-bottom: 20px;                                    
        }
    }
}

.form-contact {
    width: 64%;
    margin: 0 auto; 
        @include tablet(){
            width: 60%;                      
        }        
        @include mobile () {            
            width: 92%;
        }
    // (建議：可以在 .form-contact 外層套用 .container 再使用 % 調整表格寬度)
    // max-width: 730px;
    // margin: 0 auto;       
    // @include tablet(){
    //     max-width: 450px;
    // }
    // @include mobile(){                
    //     max-width: 345px;                                    
    // }
    p {
        font-size: $font-size-m;
        font-weight: 400;
        margin-bottom: 20px;
        @include tablet(){
            margin-bottom: 16px;
            font-size: $font-size-s;
        }
        @include mobile(){                
            margin-bottom: 8px;                                    
        }
    }
    input {
        width: 100%;
        height: 50px;
        padding-left: 16px;
        // padding-top: 12px;
        background-color: $secondary;
        border-width: 1px;                      
        @include tablet(){            
            height: 36px;
        }        
    }
    label {
        font-size: $font-size-s;
        font-weight: 400;
        @include tablet(){            
            font-size: $font-size-xs;
        }
    }
    .form-item {
        margin-bottom: 16px;                
        @include tablet(){
            margin-bottom: 8px;
        }        
    }
    .suggestion {
        width: 100%;
        height: 136px;
        padding-left: 16px;
        padding-top: 12px;
        @include tablet(){            
            height: 100px;
        }
    }
    textarea { 
        resize: none;
        background-color: $secondary;
    }
    ::placeholder {
        color: $dark;        
        opacity: 0.2;
    }
    .checkbox {
        width: 24px;
        height: 24px;
        @include tablet(){
            width: 17px;
            height: 17px;
        }        
    }
    .form-privacy {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @include tablet(){
            margin-bottom: 20px;
            align-items: flex-start;
        }        
    }
    .privacy {
        font-size: $font-size-s;
        font-weight: 400;
        @include tablet(){            
            font-size: $font-size-xs;
        }        
    }
    .submit {
        display: block;
        width: 350px;
        margin: 0 auto;
        background: $primary;
        color: $light;
        font-size: $font-size-s;
        font-weight: 700;
        border: none;
        &:hover {
            background-color: $primary-darken;
        }
        @include tablet(){            
            width: 210px;
        }        
        @include mobile(){                
            width: 165px;                                    
        }
    }
}