// section-banner
.section-banner {
    background: url("../images/banner.png") no-repeat center; //本地端圖片資源
    height: 840px;
    background-size: cover;
    @include mobile(){           
        height: 394px;        
    }    
}

.banner {
    display: flex;
    justify-content: flex-end;
    h2 {
        font-size: $font-size-4l;
        color: $primary-darken;
        text-align: right;
        padding-top: 348px;
        @include tablet(){
            padding-top: 372px;
            font-size: $font-size-3l;
        }
        @include mobile(){
            padding-top: 164px;
            font-size: $font-size-xl;
        }
        span {
            font-size: $font-size-2l;
            font-weight: 500;
            @include tablet(){                
                font-size: $font-size-m;
            }
            @include mobile(){                
                font-size: $font-size-s;
            }
        }
    }
}


// section title
.section-major, .section-classic-product, .section-signature-product, .section-recommend, .section-contact-us {
    padding-top: 60px;
    padding-bottom: 80px;
    @include tablet(){        
        padding-top: 40px;
        padding-bottom: 56px;                    
    }
    @include mobile(){        
        padding-top: 32px;
        padding-bottom: 40px;               
    }
}

.index-main {
    h3 {
        text-align: center;
        font-size: $font-size-3l;
        color: $primary-darken;        
        padding-bottom: 40px;
        @include tablet(){
            font-size: $font-size-xl;            
            padding-bottom: 40px;            
        }
        @include mobile(){
            font-size: $font-size-mm;            
            padding-bottom: 28px;            
        }
    }
}


// section-major
.section-major {
    background: $secondary;
}

.major-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;       
}

.major-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;    
    max-width: 23%;
    @include tablet(){
        max-width: 45%;
        margin-bottom: 32px;
        padding: 0 30px;                    
    }
    @include mobile(){
        max-width: 100%;
        padding: 0 45px;            
    }    
    h6 {
        color: $primary-darken;
        font-size: $font-size-mm;
        margin-bottom: 8px;
    }
    p {
        color: $dark;
        font-size: $font-size-s;
    }
}

.major {
    .material-icons-outlined {
        color: $primary-darken;
        font-size: 84px;
        margin-bottom: 24px;
    }
}


// section-classic-product
.classic-product-list {
    li:nth-child(2) {
        flex-direction: row-reverse;
        @include tablet(){
            flex-direction: row;     
        }
    }
}

.classic-product-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    @include tablet(){
        margin-bottom: 8px;                   
    }
    @include mobile(){
        position: relative;
        text-align: center;               
    }    
    h4 {
        font-size: $font-size-3l;
        font-style: italic;
        font-weight: 900;
        color: $decoration;
        width: 40%;
        margin-right: 30px;
        @include tablet(){
            font-size: $font-size-l;
            margin-right: 0px;                   
        }
        @include mobile(){
            position: absolute;
            width: 100%;                       
        }          
    }
    img {
        width: 60%;
        @include mobile(){
            width: 100%;            
        }
    }    
    .material-icons-outlined {
        font-size: 44px;
        color: $decoration;
        margin-left: 30px;
        margin-right: 10px;
        display: inline;
        vertical-align: middle;
        @include tablet(){
            font-size: 40px;
        }
              
    }
}

.section-classic-product {
    @include tablet(){                 
        padding-bottom: 32px;            
    }
    @include mobile(){
        font-size: $font-size-m;            
        padding-bottom: 20px;            
    }
}

// section-signature-product
.section-signature-product {
    background: url("/assets/images/bg.png") no-repeat center;
    background-size: cover;
}

.signature-product {
    h3 {
        color: $light;
        @include tablet(){                 
            padding-bottom: 32px;            
        }
        @include mobile(){
            padding-bottom: 20px;
            font-size: 20px;
        }
    }
}

.signature-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signature-product-item {
    max-width: 45%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;        
    @include mobile(){
        max-width: 100%;
        margin-bottom: 16px;                    
    }
    img {
        position: relative;
        opacity: 0.5;                
    }
    h4 {
        position: absolute;
        font-size: $font-size-5l;
        color: $primary;
        @include tablet(){
            font-size: $font-size-xl;                        
        }                   
    }     
}


