// color
$primary: #AA0601;
$primary-darken:#650300;
$decoration:#9F1213;
$secondary: #FBF2F2;
$light: #FFFFFF;
$dark: #000000;

// font-family
$font-family-base: Roboto, "Noto Sans TC", "Microsoft JhengHei", Arial, sans-serif;

// font-size
$font-2l: 48px;
$font-l: 36px;
$font-m: 20px;
$font-s: 16px;
$font-xs: 14px;


