// color
$primary: #AA0601;
$primary-darken:#650300;
$secondary: #FBF2F2;
$light: #FFFFFF;
$dark: #000000;
// $success: ;
// $info: 
// $warning: ;
// $danger: ;


// font-size
$font-l: 36px;
$font-m: 20px;
$font-s: 16px;
$font-xs: 14px;


