@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* header */
header {
  background-color: #AA0601; }
  @media (max-width: 992px) {
    header {
      max-width: 720px; } }
  @media (max-width: 767px) {
    header {
      max-width: 375px; } }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 56px 30px 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .header-container {
      padding: 30px 19px 30px 39px; } }
  @media (max-width: 767px) {
    .header-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 10px 0 0 0;
      border: 1px solid #fff;
      text-align: center; } }

.logo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png") no-repeat;
  width: 80px;
  height: 49px;
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  .logo:hover {
    background-color: #650300; }
  @media (max-width: 767px) {
    .logo {
      margin-bottom: 10px;
      width: 50px;
      height: 30px; } }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .navbar {
      width: 100%; } }
  .navbar a {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding: 0 32px; }
    .navbar a:hover {
      background-color: #650300; }
    @media (max-width: 992px) {
      .navbar a {
        padding: 0 20px; } }

@media (max-width: 767px) {
  .nav-link {
    width: 50%;
    border: 1px solid #fff;
    padding: 8px 0; } }

/* header end */
/* footer */
footer {
  background-color: #AA0601;
  padding-top: 44px; }
  @media (max-width: 992px) {
    footer {
      padding-top: 38px; } }
  @media (max-width: 767px) {
    footer {
      padding-top: 25px; } }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px; }
  @media (max-width: 992px) {
    .footer-wrap {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .footer-wrap {
      margin-bottom: 24px; } }

.footer-nav {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .footer-nav {
      display: none; } }
  .footer-nav li {
    padding-right: 48px; }
    @media (max-width: 992px) {
      .footer-nav li {
        padding-right: 40px; } }
  .footer-nav a {
    color: #fff;
    font-size: 16px;
    font-weight: 400; }
    .footer-nav a:hover {
      background-color: #650300; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-media li {
    margin-left: 32px; }
    @media (max-width: 992px) {
      .social-media li {
        margin-left: 24px; } }
    @media (max-width: 992px) {
      .social-media li {
        margin-left: 0px; } }
    .social-media li li:first-child {
      margin-left: 0px; }
    .social-media li img {
      height: 48px; }
      @media (max-width: 992px) {
        .social-media li img {
          height: 24px; } }
      @media (max-width: 992px) {
        .social-media li img {
          height: 20px; } }

.icon-phone {
  width: 36px;
  height: 36px;
  margin-right: 22px; }
  @media (max-width: 992px) {
    .icon-phone {
      width: 18px;
      height: 18px;
      margin-right: 11px; } }
  @media (max-width: 767px) {
    .icon-phone {
      width: 15px;
      height: 15px; } }

.icon-mail {
  width: 40px;
  height: 32px;
  margin-right: 20px; }
  @media (max-width: 992px) {
    .icon-mail {
      width: 20px;
      height: 16px;
      margin-right: 10px; } }
  @media (max-width: 767px) {
    .icon-mail {
      width: 15px;
      height: 15px; } }

.contact a {
  color: #fff;
  display: block;
  font-size: 36px;
  font-weight: 400; }
  .contact a:hover {
    background-color: #650300; }
  @media (max-width: 992px) {
    .contact a {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .contact a {
      font-size: 16px; } }
  @media (max-width: 992px) {
    .contact a {
      font-size: 14px; } }

.footer-list {
  border-top: 1px solid #fff;
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .footer-list {
      padding-top: 24px; } }
  @media (max-width: 767px) {
    .footer-list {
      padding-top: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.copright {
  color: #fff;
  padding-bottom: 39px;
  font-size: 16px;
  font-weight: 400; }
  @media (max-width: 992px) {
    .copright {
      padding-bottom: 32px; } }
  @media (max-width: 767px) {
    .copright {
      font-size: 14px;
      padding-bottom: 8px; } }

.statement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .statement {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .statement a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 48px; }
    .statement a:hover {
      background-color: #650300; }
    @media (max-width: 992px) {
      .statement a {
        margin-left: 24px; } }
    @media (max-width: 767px) {
      .statement a {
        margin-left: 0px;
        padding-bottom: 8px; } }

/* footer end */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", "Noto Sans", sans-serif, "Microsoft JhengHei";
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

a {
  text-decoration: none; }

/* RWD 圖片 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* RWD 容器 */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

/*# sourceMappingURL=all.css.map */
